html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.logo-container {
  text-align: center;
  font-size: 18px;
  color: #800000;
  margin-bottom: 5px;
  font-weight: bold;
}


form {
  background: #ffffff;
  padding: 50px 40px;
  border-radius: 10px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}


.input-group {
  position: relative;
}

.input-group input {
  width: 100%;
  padding: 14px 40px 14px 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  box-sizing: border-box;
  background-color: #fdfdfd;
}

.icon {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  color: #aaa;
  pointer-events: none;
}

.reacall-forget {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 15px;
  margin-bottom: 15px;
  color: #000;
}

.remember-me {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  user-select: none;
  color: #300;
}

.remember-me input[type="checkbox"] {
  width: 18px;
  height: 18px;
  cursor: pointer;
  margin: 0;
}

/* BOTÃO */
button {
  width: 100%;
  padding: 14px 0;
  background-color: #800000;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  user-select: none;
  margin-top: 40px;
}

button:hover,
button:focus {
  background-color: #5f0000;
  box-shadow: 0 6px 12px rgba(128, 0, 0, 0.6);
  outline: none;
}

button:active {
  transform: scale(0.98);
}

.register-link {
  margin-top: 50px;
  font-size: 16px;
  text-align: center;
  color: #333;
}

.register-link a {
  color: #800000;
  text-decoration: none;
  margin-left: 5px;
}

.register-link a:hover {
  text-decoration: underline;
}

.forgot-password-link{
  color:#5f0000
  
}



.social-login {
  text-align: center;
  margin-top: 20px;
  font-size: 15px;
  color: #333;
}
.social-login {
  text-align: center;
  margin-top: 20px;
  font-size: 15px;
  color: #333;
}

.social-buttons {
  display: block;               
  justify-content: center;
  gap: 6px;                  
  margin-top: 12px;
}

.social-buttons button {
  flex: 1;                    
  max-width: 400px;           
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 10px 16px;
  border-radius: 6px;
  font-size: 14px;
  cursor: pointer;
  font-weight: 500;
  background-color: #fff;   
  color: #333;
  
  
  
  border: 1.5px solid rgba(128, 0, 0, 0.6);
  box-shadow: 0 0 8px rgba(128, 0, 0, 0.3);

  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.social-buttons button:hover {
  background-color: #f9f3f3;
  box-shadow: 0 0 12px rgba(128, 0, 0, 0.5);
}

.social-buttons .google {
  color: #333;
}

.social-buttons .facebook {
  color: #800000; 
}


.social-buttons img {
  width: 18px;
  height: 18px;
}
